[ v3_ca ]
basicConstraints = critical,CA:true,pathlen:1
keyUsage = critical,digitalSignature, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always

[ v3_subca ]
basicConstraints = critical,CA:true,pathlen:0
keyUsage = critical,digitalSignature, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer

[ v3_leaf ]
basicConstraints = CA:false
keyUsage = critical,digitalSignature, keyEncipherment
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer