../node_modules
dist
*.log
*.lock
.dockerignore
Server/deploy.Dockerfile
Server/docker-compose.yml
package-lock.json

Server/dist
00_Base/dist
01_Data/dist
02_Util/dist
03_Modules/Certificates/dist
03_Modules/Configuration/dist
03_Modules/EVDriver/dist
03_Modules/Monitoring/dist
03_Modules/Reporting/dist
03_Modules/SmartCharging/dist
03_Modules/Transactions/dist