# Ignore node modules directories
**/node_modules

# Ignore distribution directories
**/dist

# Common ignore files
**/package-lock.json

# Specific files and file types to ignore
**/*.js
**/*.cjs
**/*.md
**/*.yml
**/*.tsbuildinfo
**/*.log
**/*.tgz
**/*.sh
**/*.Dockerfile

!directus-env-config.cjs